
.btn-floating {
    position: fixed;
    top: 100px;
    right: 70px;
    z-index: 9999;
    border-radius: 50%;
  }

.navbar{
    background-color: #f8c0aa;
}

.container{
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

