.container {
  border-radius: 5px;
  border-color: black;
  background-color: rgb(241, 241, 241);

}




.image-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
}

.link-grey { color: #aaa; } 
.link-grey:hover { color: #00913b; }