.container {
  border-radius: 5px;
  border-color: black;
  background-color: rgb(241, 241, 241);
  padding: 20px 20px 20px 20px;
  margin-left: 20px;
}

img {
  /*object-fit: cover;*/
  width: 200px;
}

.image-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
}
